In [1]:
import requests
import bs4
import calendar
from datetime import date, datetime
from dateutil.relativedelta import relativedelta

In [11]:
url = 'https://www.mercadoagroganadero.com.ar/dll/hacienda2.dll/haciinfo000013'
months = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic']
today = datetime.today()
year = today.year
month = today.month

print('Precio Arrendamiento') 
print('--------------------') 

for i in range(6):
    try:
        prev_month = today-relativedelta(months=i+1)
        y = prev_month.year
        m = prev_month.month
        start = f'1/{m}/{y}'
        end = f'{calendar.monthrange(y, m)[1]}/{m}/{y}'
        next_month = datetime.strptime(start, '%d/%m/%Y') + relativedelta(months=1)
        period = f'{months[next_month.month-1]} {next_month.year}'
        # print(start, end, period)
        r = requests.post(url, data={'txtFechaIni': start, 'txtFechaFin': end})
        html = bs4.BeautifulSoup(r.text)
        value = int(html.body.find_all('td')[-2].text.replace('.','').replace(',',''))/1000
    except:
        value = 'n/a'
    print(f'{period}: {value:>9,} ARS')

Precio Arrendamiento
--------------------
Ene 2024: 1,418.577 ARS
Dic 2023:   961.357 ARS
Nov 2023:   861.075 ARS
Oct 2023:   710.309 ARS
Sep 2023:   716.236 ARS
Ago 2023:   489.551 ARS